---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<div class="container mx-auto w-full h-full space-y-2">
			<div class="text-center font-bold">
				<h1 class="text-2xl">Nguyen Viet Nam</h1>
				<h2>Developer</h2>
			</div>
			<div class="mt-4">
				<p class="text-xl font-bold">ABOUT ME</p>
				<hr />
				<p>Will update later</p>
			</div>
			<div class="mt-4">
				<p class="text-xl font-bold">WORK EXPERIENCES</p>
				<hr />
				<div class="relative wrap overflow-hidden p-10 h-full">
					<div
						class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border"
						style="left: 50%"
					>
					</div>
					<div
						class="mb-8 flex justify-between items-center w-full right-timeline"
					>
						<div class="order-1 w-5/12"></div>
						<div
							class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-[120px] h-8 rounded-full"
						>
							<h3
								class="mx-auto font-semibold text-lg text-white"
							>
								Now
							</h3>
						</div>
						<div
							class="order-1 bg-gray-300 rounded-lg shadow-xl w-5/12 px-6 py-4"
						>
							<h3 class="mb-3 font-bold text-gray-800 text-xl">
								Position
							</h3>
							<p
								class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"
							>
								Detail
							</p>
						</div>
					</div>

					<div
						class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
					>
						<div class="order-1 w-5/12"></div>
						<div
							class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-[120px] h-8 rounded-full"
						>
							<h3
								class="mx-auto text-white font-semibold text-lg"
							>
								2021 - 2019
							</h3>
						</div>
						<div
							class="order-1 bg-gray-300 rounded-lg shadow-xl w-5/12 px-6 py-4"
						>
							<h3 class="mb-3 font-bold text-gray-800 text-xl">
								Position
							</h3>
							<p
								class="text-sm font-medium leading-snug tracking-wide text-gray-900 text-opacity-100"
							>
								Detail
							</p>
						</div>
					</div>

					<div
						class="mb-8 flex justify-between items-center w-full right-timeline"
					>
						<div class="order-1 w-5/12"></div>
						<div
							class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-[120px] h-8 rounded-full"
						>
							<h3
								class="mx-auto font-semibold text-lg text-white"
							>
								2019 - 2018
							</h3>
						</div>
						<div
							class="order-1 bg-gray-300 rounded-lg shadow-xl w-5/12 px-6 py-4"
						>
							<h3 class="mb-3 font-bold text-gray-800 text-xl">
								Position
							</h3>
							<p
								class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"
							>
								Detail
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4">
				<p class="text-xl font-bold">SKILLS</p>
				<hr />
				<div class="grid grid-cols-2 gap-4">
					<div class="flex space-x-4">
						<p>Swift:</p>
						<div class="w-full bg-gray-200 h-1 my-auto">
							<div class="bg-gray-800 h-1" style="width: 45%">
							</div>
						</div>
					</div>
					<div class="flex space-x-4">
						<p>Swift:</p>
						<div class="w-full bg-gray-200 h-1 my-auto">
							<div class="bg-gray-800 h-1" style="width: 45%">
							</div>
						</div>
					</div>
					<div class="flex space-x-4">
						<p>Swift:</p>
						<div class="w-full bg-gray-200 h-1 my-auto">
							<div class="bg-gray-800 h-1" style="width: 45%">
							</div>
						</div>
					</div>
					<div class="flex space-x-4">
						<p>Swift:</p>
						<div class="w-full bg-gray-200 h-1 my-auto">
							<div class="bg-gray-800 h-1" style="width: 45%">
							</div>
						</div>
					</div>
					<div class="flex space-x-4">
						<p>Swift:</p>
						<div class="w-full bg-gray-200 h-1 my-auto">
							<div class="bg-gray-800 h-1" style="width: 45%">
							</div>
						</div>
					</div>
				</div>
				<div class="mt-4">
					<p class="text-xl font-bold">INTERESTS</p>
					<hr />
					<div class="flex space-x-4 mt-4">
						<div
						class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full"
					>
						Tag
					</div>
					<div
						class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full"
					>
						Tag
					</div>
					<div
						class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full"
					>
						Tag
					</div>
					<div
						class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full"
					>
						Tag
					</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
